$colorMale: blue;
$colorFemale: pink;

.bg-odd { background-color: #ccc}
.teenager { border: 1px solid blue}
.xyz { background-color: darkgoldenrod}
.male { background-color: $colorMale; color: white}
.female { background-color: $colorFemale}
